@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px 0 70px;
  justify-content: space-between;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  width: 339px;
  margin: 0 auto 0 30px;
  padding: 0;
  list-style: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 268px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 4px;
  min-height: 32px;
  background-color: #82b3d3;
  /*для визуализации блоков меню, в которые скрыт текст*/
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  width: 1200px;
  display: flex;
  background:
    url("../images/hero-divider.svg") no-repeat center bottom,
    url("../images/hero-background.jpg") no-repeat center bottom;
  background-color: #f2f2f2;
}

.welcome-image {
  margin: 50px auto 80px auto;
}

.advantages {
  text-align: center;
}

.advantages-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
  background-color: #83b3d31f;
}

.advantages-item-image {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-container {
  align-self: center;
}

.advantages-item-image h3 {
  color: #ffffff;
}

.advantages-item-image-reverse {
  flex-direction: row-reverse;
}

.advantages-item-center {
  background: #83b3d333;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.comfort {
  text-align: center;
}

.comfort-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.comfort-description {
  font-size: 22px;
  line-height: 26px;
}

.comfort-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.comfort-item {
  width: 400px;
  background-color: #83b3d31f;
}

.comfort-item-center {
  background-color: #ffffff;
}

.comfort-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search {
  text-align: center;
}

.hotel-search-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
}

.subscribe-index {
  width: 1200px;
  background: url("../images/subscribe-background.jpg") no-repeat center top;
  background-color: #f2f2f2;
  text-align: center;
  color: #ffffff;
}

.subscribe-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
}

.contacts {
  display: flex;
  text-align: center;
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px 0 70px;
  justify-content: space-between;
}

.contacts-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: auto 0;
  padding: 0;
  list-style-type: none;
}

.contacts-social-link {
  display: block;
  min-width: 47px;
  min-height: 40px;
  background-color: #82b3d3;
}

.contacts-phone a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

/*----- Стили для страницы каталога -----*/

.catalog-header-and-filter {
  width: 1200px;
  display: flex;
  flex-direction: column;
  background: url("../images/catalog-filter-background.jpg") no-repeat center center;
  background-size: cover;
  background-color: #f2f2f2;
  color: #ffffff;
}

.catalog-header {
  width: 1060px;
  display: flex;
  flex-direction: column;
  margin: 35px auto 40px auto;
  padding: 0;
}

.catalog-header-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-header-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 0;
  padding: 0;
  list-style-type: none;
}

.catalog-header-breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 15px;
  background-color: #82b3d3;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-buttons-container {
  width: 190px;
}

.catalog-filter-submit-button {
  background-color: #82b3d3;
}

.catalog-filter-clear-button {
  background-color: rgba(130, 179, 211, 0);
}

.catalog-hotels-sorting-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.hotels-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.catalog-hotels-sorting-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  margin: auto 0;
}

.hotels-display-type {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: auto 0;
  padding: 0;
  list-style-type: none;
}

.hotels-display-type-item {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #82b3d3;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  list-style: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-to-selected {
  background-color: #82b3d3;
}

.hotel-card-from-selected {
  background-color: #7dB54f;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.catalog-pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  list-style: none;
}

.catalog-pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  text-decoration: none;
}

.catalog-pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.catalog-pagination-gap {
  color: #000000;
  background-color: #ffffff;
}

.subscribe-catalog {
  width: 1200px;
  text-align: center;
}
