@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}

.button:not([disabled]):hover,
.button:not([disabled]):focus {
  background-color: #615048;
}

.button:not([disabled]):active {
  color: #ffffff4d;
}

.button[disabled] {
  background-color: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  padding: 0 70px 0 70px;
  justify-content: space-between;
  background-color: #ffffff;
}

.header-logo {
  display: block;
  width: 140px;
  height: 70px;
  position: relative;
  margin-bottom: -6px;
}

.header-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-image:hover {
  opacity: 0.6;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 30px;
  padding: 0;
  list-style: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 268px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 12px 20px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link-current::before {
  position: absolute;
  right: 12px;
  left: 12px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url(../images/icons/icon-search.svg);
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url(../images/icons/icon-heart.svg);
}

.navigation-user-likes-number {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 9px;
  color: #ffffff;
  background-color: #7db54f;
}

.navigation-user-button {
  display: block;
  padding: 8px;
  margin-left: 20px;
  min-width: 144px;
  min-height: 20px;
}

.page-main {
  flex-grow: 1;
}

.hero {
  width: 1200px;
  background:
    url("../images/hero-divider.svg") no-repeat center bottom,
    url("../images/hero-background.jpg") no-repeat center top;
  background-color: #f2f2f2;
  background-size: 100% auto, cover;
  /*значение 100% auto - для hero-divider.svg*/
  padding: 50px 0 80px;
}

.welcome-image {
  margin: 0 auto;
  width: 458px;
  display: block;
}

.advantages {
  text-align: center;
}

.advantages-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-top: 70px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 386px;
  background-color: #83b3d31f;
  padding: 103px 85px;
  box-sizing: border-box;
}

.advantages-item-title {
  position: relative;
  width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 62px 0;
}

.advantages-item-title::after {
  position: absolute;
  left: 85px;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: #0000004d;
  content: "";
}

.advantages-item-description {
  margin: 0;
}

.advantages-item-with-image {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-with-image .advantages-item-title {
  color: #ffffff;
}

.advantages-item-with-image .advantages-item-title::after {
  background-color: #ffffff4d;
}

.advantages-item-image {
  display: block;
  width: 800px;
  height: auto;
}

.advantages-item-container {
  align-self: center;
}

.advantages-item-image h3 {
  color: #ffffff;
}

.advantages-item-image-reverse {
  flex-direction: row-reverse;
}

.advantages-item-center {
  background: #83b3d333;
}

.comfort {
  text-align: center;
}

.comfort-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 64px 0 20px 0;
}

.comfort-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 64px;
}

.comfort-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.comfort-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: #83b3d31f;
}

.comfort-item-center {
  background-color: #ffffff;
}

.comfort-list .comfort-item {
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 50% 80px;
}

.comfort-list .comfort-item:nth-child(1) {
  background-image: url(../images/icons/icon-house-big.svg);
}

.comfort-list .comfort-item:nth-child(2) {
  background-image: url(../images/icons/icon-food.svg);
}

.comfort-list .comfort-item:nth-child(3) {
  background-image: url(../images/icons/icon-souvenir.svg);
}

.comfort-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 183px 0 30px 0;
}

.comfort-item-description {
  margin: 0 0 80px 0;
}

.hotel-search {
  text-align: center;
  padding: 96px 0 96px 0;
}

.hotel-search-header {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  display: block;
  padding: 8px;
  min-width: 360px;
  min-height: 36px;
  margin: 0 auto;
}

.subscribe {
  padding: 96px 0 104px 0;
  text-align: center;
}

.subscribe-index {
  background: url("../images/subscribe-background.jpg") no-repeat center top;
  background-color: #f2f2f2;
  color: #ffffff;
}

.subscribe-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-field {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  width: 452px;
  border: 0;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
}

.subscribe-form-field:hover,
.subscribe-form-field:focus {
  background-color: #e6e6e6;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  width: 232px;
  min-height: 52px;
  border-radius: 0 4px 4px 0;
  margin: 0;
}

.subscribe-button:not([disabled]):hover,
.subscribe-button:not([disabled]):focus {
  background-color: #68a2ca;
}

.contacts {
  display: flex;
  text-align: center;
  padding: 45px 70px 35px 70px;
  justify-content: space-between;
  align-items: center;
}

.contacts-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts-social-link {
  display: block;
  min-width: 47px;
  min-height: 40px;
  background-color: #82b3d3;
  mask-repeat: no-repeat;
  mask-position: center;
}

.contacts-social-link:hover,
.contacts-social-link:focus {
  background-color: #68a2ca;
}

.contacts-social-link:active {
  background-color: #68a2ca4d;
}

.contacts-social-link-vk {
  mask-image: url(../images/icons/icon-vk.svg);
}

.contacts-social-link-telegram {
  mask-image: url(../images/icons/icon-telegram.svg);
}

.contacts-social-link-youtube {
  mask-image: url(../images/icons/icon-youtube.svg);
}

.contacts-phone {
  margin: 0;
}

.contacts-phone a {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.contacts-phone a:hover,
.contacts-phone a:focus {
  color: #756157;
}

.contacts-phone a:active {
  color: #7561574d;
}

.contacts-webstudio-logo {
  margin: 0;
}

.contacts-webstudio-link {
  display: block;
  min-width: 115px;
  min-height: 33px;
  background-color: #000000;
  mask-image: url(../images/html-academy-logo.svg);
  mask-repeat: no-repeat;
  mask-position: center;
}

.contacts-webstudio-link:hover,
.contacts-webstudio-link:focus {
  background-color: #756157;
}

.contacts-webstudio-link:active {
  background-color: #7561574d;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2cc;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 30px;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button::after,
.modal-close-button::before {
  position: absolute;
  top: 26px;
  left: 16px;
  width: 20px;
  height: 2px;
  background-color: #000000;
  content: "";
  transform: rotate(45deg);
}

.modal-close-button::before {
  transform: rotate(-45deg);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6cc;
}

.modal-close-button:active::after,
.modal-close-button:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-date-input-group {
  min-height: 73px;
  margin-bottom: 23px;
  display: grid;
  grid-template-columns: auto 440px;
  gap: 4px;
  align-items: center;
}

.modal-search-form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal-search-form-input-date {
  box-sizing: border-box;
  width: 440px;
  min-height: 48px;
  padding: 12px 20px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: 0;
  border-radius: 4px;
  background: #f2f2f2 url("../images/icons/icon-modal-calendar.svg") no-repeat right 20px center;
}

.modal-search-form-input-date:hover,
.modal-search-form-input-date:focus {
  background-color: #e6e6e6;
  opacity: 0.6;
}

.modal-search-form-prompt {
  margin: 0;
  padding: 0 20px;
  font-size: 16px;
  line-height: 21px;
  grid-column: 2/3;
}

.mistake-prompt {
  color: #ff5757;
}

.modal-adult-children-group {
  display: flex;
  justify-content: space-between;
  min-height: 48px;
  margin-bottom: 48px;
}

.modal-people-input-wrapper {
  display: flex;
  align-items: center;
  gap: 46px;
}

.modal-search-number-input {
  box-sizing: border-box;
  width: 31px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 14px 2px;
  background-color: #f2f2f2;
  border: 0;
  appearance: textfield;
}

.modal-search-number-input::-webkit-outer-spin-button,
.modal-search-number-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-number-input-group {
  display: flex;
  align-items: center;
}

.modal-range-toggle {
  box-sizing: border-box;
  width: 40px;
  height: 48px;
  margin: 0;
  padding: 14px 4px;
  background-color: #f2f2f2;
  border: 0;
}

.modal-toggle-decr {
  position: relative;
  border-radius: 4px 0 0 4px;
}

.modal-toggle-incr {
  position: relative;
  border-radius: 0 4px 4px 0;
}

.modal-toggle-decr::after,
.modal-toggle-incr::after,
.modal-toggle-incr::before {
  position: absolute;
  top: 23px;
  left: 13px;
  width: 14px;
  height: 2px;
  background: #d6d0cd;
  content: "";
}

.modal-toggle-incr::before {
  transform: rotate(90deg);
}

.modal-toggle-decr:hover::after,
.modal-toggle-incr:hover::after,
.modal-toggle-incr:hover::before,
.modal-toggle-decr:focus-visible::after,
.modal-toggle-incr:focus-visible::after,
.modal-toggle-incr:focus-visible::before {
  background-color: #000000;
}

.modal-children-label-wrapper {
  min-width: 85px;
  margin-left: 15px;
}

.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background-image: url(../images/icons/icon-tooltip.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.tooltip-text {
  box-sizing: border-box;
  display: block;
  width: 256px;
  background-color: #333333;
  color: #ffffff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  position: absolute;
  margin-top: 16px;
  left: -115px;
  z-index: 1;
  display: none;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/icons/icon-tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.modal-search-submit-button {
  width: 577px;
  min-height: 60px;
  padding: 18px 77px;
  border-radius: 10px;
  background-color: #83b3d3;
}

.modal-search-submit-button:not([disabled]):hover,
.modal-search-submit-button:not([disabled]):focus {
  background-color: #68a2ca;
}

/*----- Стили для страницы каталога -----*/

.catalog-header-and-filter {
  width: 1200px;
  display: flex;
  flex-direction: column;
  background: url("../images/catalog-filter-background.jpg") no-repeat center center;
  background-size: cover;
  background-color: #f2f2f2;
  color: #ffffff;
}

.catalog-header {
  width: 1060px;
  display: flex;
  flex-direction: column;
  margin: 35px auto 40px auto;
  padding: 0;
}

.catalog-header-title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-header-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto 0 0;
  padding: 0;
  list-style-type: none;
}

.catalog-header-breadcrumbs-item {
  position: relative;
  display: block;
  height: 21px;
  margin-right: 28px;
}

.catalog-header-breadcrumbs-item::after {
  display: block;
  position: absolute;
  top: 0;
  right: -18px;
  width: 8px;
  height: 21px;
  background-image: url(../images/icons/icon-right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.catalog-header-breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-header-breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 21px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-header-breadcrumbs-link:hover {
  color: #ffffff99;
}

.catalog-header-breadcrumbs-link:active {
  color: #ffffff4d;
}

.catalog-header-breadcrumbs .catalog-header-breadcrumbs-item:nth-child(1) .catalog-header-breadcrumbs-link {
  background-image: url(../images/icons/icon-house-small.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-header-breadcrumbs .catalog-header-breadcrumbs-item:nth-child(1) .catalog-header-breadcrumbs-link:hover {
  opacity: 0.6;
}

.catalog-filter {
  width: 1060px;
  display: flex;
  margin: 0 auto 70px auto;
  padding: 0;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.catalog-filter-infrastructure {
  width: 150px;
}

.catalog-filter-accomodation {
  width: 150px;
  margin-right: 140px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 32px 0;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-control:hover {
  opacity: 0.6;
}

.catalog-filter-control:active {
  opacity: 0.3;
}

.catalog-filter-control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 4px;
  background-color: #ffffff;
}

.catalog-filter-control-input:focus-visible+.catalog-filter-control-mark {
  outline: 3px solid #83b3d3;
}

.catalog-filter-control-input[type="checkbox"]:checked+.catalog-filter-control-mark {
  background-image: url(../images/icons/icon-tick.svg);
  background-position: 4px;
  background-repeat: no-repeat;
}

.catalog-filter-control-input[type="radio"]+.catalog-filter-control-mark {
  border-radius: 50%;
}

.catalog-filter-control-input[type="radio"]:checked+.catalog-filter-control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-control-label {
  line-height: 23px;
}

.range {
  position: relative;
}

.range-scale {
  position: absolute;
  left: 1px;
  top: 88px;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  left: 1px;
  top: 88px;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  position: relative;
}

.range-input-label {
  position: absolute;
  top: 11px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.range-input-label-min-price {
  left: 105px;
}

.range-input-label-max-price {
  left: 250px;
}

.range-input {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  border: 0;
  background-color: #f2f2f2;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-input-min-price {
  border-radius: 4px 0 0 4px;
}

.range-input-max-price {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.catalog-filter-buttons-container {
  width: 190px;
}

.catalog-filter-submit-button {
  margin-top: 56px;
  background-color: #82b3d3;
  width: 190px;
  height: 36px;
}

.catalog-filter-submit-button:not([disabled]):hover,
.catalog-filter-submit-button:not([disabled]):focus {
  background-color: #68a2ca;
}

.catalog-filter-clear-button {
  margin-top: 32px;
  background-color: transparent;
  width: 190px;
  height: 36px;
}

.catalog-filter-clear-button:not([disabled]):hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.catalog-filter-clear-button:not([disabled]):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.catalog-filter-clear-button:not([disabled]):focus {
  background-color: transparent;
}

.catalog-filter-clear-button[disabled] {
  color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}


.catalog-hotels-filtered {
  padding: 50px 70px 60px 70px;
}

.catalog-hotels-sorting-container {
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 40px;
}

.hotels-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.catalog-hotels-sorting-select {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  margin: 0;
  padding: 8px 52px 8px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/icons/icon-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.catalog-hotels-sorting-select:not([disabled]):hover,
.catalog-hotels-sorting-select:not([disabled]):focus {
  border: 2px solid #68a2ca;
}

.catalog-hotels-sorting-select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.hotels-display-type {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 165px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels-display-type-button {
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.hotels-display-type-button:hover {
  border: 2px solid #000000;
}

.hotels-display-type-button:focus {
  border: 2px solid #68a2ca;
}

.hotels-display-type-button:active {
  border: 2px solid #000000;
}

.hotels-display-type-button-current {
  border: 2px solid #000000;
}

.hotels-display-tile .hotels-display-type-button {
  background-image: url(../images/icons/icon-catalog-tile.svg);
}

.hotels-display-card .hotels-display-type-button {
  background-image: url(../images/icons/icon-catalog-card.svg);
}

.hotels-display-list .hotels-display-type-button {
  background-image: url(../images/icons/icon-catalog-list.svg);
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin: 0 0 80px 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.hotel-list::before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -40px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
}

.hotel-card {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 140px 140px;
  align-items: start;
  gap: 16px 20px;
  margin: 0;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card-link:hover {
  opacity: 0.8;
}

.hotel-card-image {
  width: 300px;
  display: block;
  background-color: #f2f2f2;
  object-fit: contain;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding-top: 16px;
}

.hotel-card-type {
  margin: 0;
}

.hotel-card-price {
  margin: 0;
  text-align: right;
}

.hotel-card-button-detail {
  min-height: 20px;
  padding: 8px;
}

.hotel-card-to-selected {
  background-color: #82b3d3;
  padding: 8px;
  min-height: 20px;
}

.hotel-card-to-selected:not([disabled]):hover,
.hotel-card-to-selected:not([disabled]):focus {
  background-color: #68a2ca;
}

.hotel-card-from-selected {
  background-color: #7dB54f;
  padding: 8px;
  min-height: 20px;
}

.hotel-card-from-selected:not([disabled]):hover,
.hotel-card-from-selected:not([disabled]):focus {
  background-color: #6c9e42;
}

.hotel-card-stars {
  margin: 0;
  min-height: 36px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars-1 {
  background-image: url(../images/icons/icon-stars-1.svg);
}

.stars-2 {
  background-image: url(../images/icons/icon-stars-2.svg);
}

.stars-3 {
  background-image: url(../images/icons/icon-stars-3.svg);
}

.stars-4 {
  background-image: url(../images/icons/icon-stars-4.svg);
}

.stars-5 {
  background-image: url(../images/icons/icon-stars-5.svg);
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  margin: 0;
  padding: 8px;
  min-height: 20px;
  border-radius: 4px;
}

.catalog-pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.catalog-pagination-link:hover,
.catalog-pagination-link:focus {
  background-color: #68a2ca;
}

.catalog-pagination-link:active {
  background-color: #82b3d3;
  color: #ffffffd4;
}

.catalog-pagination-current,
.catalog-pagination-current:hover,
.catalog-pagination-current:focus,
.catalog-pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.catalog-pagination-gap,
.catalog-pagination-gap:hover,
.catalog-pagination-gap:focus,
.catalog-pagination-gap:active {
  color: #000000;
  background-color: #ffffff;
}